body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    text-align: justify;
    background-color: rgb(226, 179, 162);
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-style: italic;
}

img {
    height: auto;
    width: 400px;
}

.icons {
    display: block;
    width: 100px;
    text-align: center;
    margin: 0 auto;
}

.homepage-menu {
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.homepage-menu a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: block;
    width: 250px;
    padding: 30px 0px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 25px;
    transition: transform .2s;
}

.homepage-menu li {
    display: inline-block;
}

.homepage-menu a:hover  {
    transform: scale(1.2);
    background-color: rgb(228, 171, 151);
}

.container {
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 1500px;
}
    

.dish-image {
    float: left;
    width: 500px;
    border-radius: 20px;
    margin: 30px;
}


.back {
    display: inline-block;
    margin: 10px;
    background-color:rgb(159, 244, 255);
    padding: 20px 75px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}